{% extends "lib/templates/base.jinja2" %}
{% block body %}
    <div class="row">
        <div class="login-form col-md-6 col-md-push-3 col-md-pull-3" align="center">
            <form class="form-horizontal" role="form" method="POST" action="login">
                <div class="form-group">
                    <div class="col-xs-12">
                        <a href="/"><img src="http://fakeimg.pl/500x200?text=bh_whisper" img class="img-responsive" alt="bh_whisper"></a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="email" class="form-control" id="email" name="email"  placeholder="Enter email" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="submit col-md-6" align="left">
                        <button type="submit" class="btn btn-lg btn-primary">Log in</button>
                        <label class="checkbox-inline"><input type="checkbox" name="remember_me"> Remember me</label>
                    </div>
                    <div class="col-md-6" align="right">
                        <a href="{{ 'user'|route_url(action='reset') }}">Forgot your password?</a>
                    </div>
                </div>
                <div class="form-group" align="left">
                    <div class="col-xs-12">
                        Need an account? <a href="{{ 'user'|route_url(action='register') }}">Sign up.</a>
                    </div>
                </div>
            </form>
        </div>


        <div id="content"></div>
        <script type="text/babel" src="react.js"></script>
        <script type="text/babel">
          // To get started with this tutorial running your own code, simply remove
          // the script tag loading scripts/example.js and start writing code here.
        </script>


    </div>
{% endblock %}
