{% extends "lib/templates/base.jinja2" %}
{% block body %}
    <div class="row">
        <div class="register-form col-xs-6 col-xs-push-3 col-xs-pull-3">
            <form class="form-horizontal" role="form" method="POST">
                <div class="form-group">
                    <div class="col-xs-12" align="center">
                        <a href="/"><img src="http://fakeimg.pl/500x200?text=bh_whisper" img class="img-responsive" alt="bh_whisper"></a>
                    </div>
                </div>
                <div class="form-group has-feedback email_input">
                    <div class="col-xs-12">
                        <input type="email" class="form-control" id="email" name="email"  placeholder="Enter email" required>
                    </div>
                    <span class="hidden glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span id="email_error" class="hidden sr-only">(error)</span>
                </div>
                <div class="form-group has-feedback password_input">
                    <div class="col-xs-12">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                    </div>
                    <span class="hidden glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span id="password_error" class="hidden sr-only">(error)</span>
                </div>
                <div class="form-group has-feedback password_input">
                    <div class="col-xs-12">
                        <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Confirm password" required>
                    </div>
                    <span class="hidden glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span id="password_confirm_error" class="hidden sr-only">(error)</span>
                </div>
                <div class="form-group has-feedback username_input">
                    <div class="col-xs-12">
                        <input type="username" class="form-control" id="username" name="username" placeholder="Enter username" required>
                    </div>
                    <span class="hidden glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span id="username_error" class="hidden sr-only">(error)</span>
                </div>
                <div class="form-group">
                    <div class="submit col-md-6">
                        <button type="submit" class="btn btn-lg btn-primary">Submit!</button>
                    </div>
                </div>
            </form>
            {% if errors %}
            <script type="text/javascript">
                function showErrors(error, value) {
                    var selector;

                    if(error == 'email_error'){ selector = '.email_input';}
                    else if(error == 'username_error'){ selector = '.username_input';}
                    else if(error == 'password_error'){ selector = '.password_input';}
                    if(typeof selector === 'string') {
                        jQuery(selector).addClass('has-error');
                        jQuery(selector+' .glyphicon-remove').removeClass('hidden');
                        jQuery(selector+' input').val(value);
                    }
                }

                {% for error, value in errors.items() %}
                    var error = '{{ error }}';
                    var value = '{{ value }}';
                    showErrors(error, value);
                {% endfor %}
            </script>
            {% endif %}
        </div>
    </div>
{% endblock %}
