<form id="createHeader" class="form-horizontal" role="form" method="post" action="{{'tasks'|route_url(action='ajaxCreateEditPhase')}}">
<div class="modal-header">
  <h4 class="modal-title">New phase</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <div class="col-xs-12 col-md-6">
            <label class="control-label col-sm-3" for="name">name:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" name="name" required>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
  <button type="submit" href="#" class="btn btn-primary">Add</button>
</div>
</form>

<script>
  var form = jQuery("#createHeader");
  form.submit(function(event){
    event.preventDefault();

    var formData = jQuery(form).serialize();
    jQuery.ajax({
      type: 'POST',
      url: jQuery(form).attr('action'),
      data: formData,
      success: function(data){
        data = JSON.parse(data);
        if(data.error === 1){
          var body = jQuery('#myModal .modal-body')
          body.prepend('<div class="alert alert-warning"><strong>Warning! </strong>'+data.message.replace('^name^', '<i>'+name+'</i>')+'</div>');
        }
        else{
          myModal.close();
          jQuery("#wrap-body").prepend('<div class="alert alert-success"><strong>Success! </strong>'+data.message.replace('^name^', '<i>'+name+'</i>')+'</div>');
        }
      }
    })
  })
</script>
