<form id="createHeader" class="form-horizontal" method="post" action="{{'tasks'|route_url(action='ajaxCreateEditHeader')}}">
<div class="modal-header">
  <h4 class="modal-title">New header</h4>
</div>
<div class="modal-body">
    <input id="action" type="hidden" name="action"></input>
    <div class="form-group">
        <div class="col-xs-12 col-md-6">
            <label class="control-label col-sm-3" for="name">name:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" name="name" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-md-6">
            <label class="control-label col-sm-3" for="pattern">pattern:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="pattern" name="pattern" required>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
  <button id="create-header" action-method="create" class="btn btn-primary">Create</button>
</div>
</form>

<script>
  jQuery("#create-header").click(function(event){
    event.preventDefault();
    submit_form(jQuery(this).attr('action-method'));
  });

  function submit_form(action){
    var form = jQuery("#createHeader");
    var name = jQuery("#name").val();

    jQuery("#action").val(action);
    jQuery.ajax({
      type: 'POST',
      url: jQuery(form).attr('action'),
      data: jQuery(form).serialize(),
      success: function(data){
        data = JSON.parse(data);
        var body = jQuery('#wrap-body');
        jQuery(".alert").remove();
        if(data.error === 1){
          body.prepend('<div class="alert alert-warning"><strong>Warning! </strong>'+data.message.replace('^name^', '<i>'+name+'</i>')+'</div>');
        }
        else{
          myModal.close();
          body.prepend('<div class="alert alert-success"><strong>Success! </strong>'+data.message.replace('^name^', '<i>'+name+'</i>')+'</div>');
        }
      }
    });
  }
</script>
