<div class="modal-header">
  <h4 class="modal-title">Your phases</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="form-group">
      <label>select phase:</label>
        <select id="selectPhase" class="inline-input form-control" onchange="showPhase()">
          {% for phase in phases %}
          <option value="{{phase.phase_id}}">{{phase.name}}</option>
          {% endfor %}
        </select>
    </div>
  </div>
  <form id="renamePhase" class="form-horizontal" action="{{'tasks'|route_url(action='ajaxRenamePhase')}}" method="post">
    <div class="selected_phase row panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title pull-left">Selected phase</h3>
        <button class="pull-right btn btn-xs btn-info">Rename</button>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <div class="form-group phase_rename">
          <div class="col-xs-12 col-md-6">
            <label class="control-label name_label">name:</label>
            <input type="text" class="form-control name_input" id="name" name="name" required>
            <input type="hidden" class="phase_id" name="phase_id" value="">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
</div>
<script>
  function showPhase(){
    var selected = jQuery("#selectPhase option:selected");
    jQuery(".selected_phase .phase_rename .name_input").val(selected.text());
    jQuery(".selected_phase .phase_rename .phase_id").val(selected.val());
  }
  jQuery(document).ready(showPhase());

  var rename_form = jQuery("#renamePhase")
  rename_form.submit(function(event){
    event.preventDefault();

    var formData = jQuery(rename_form).serialize();
    jQuery.ajax({
      type: 'POST',
      url: jQuery(rename_form).attr('action'),
      data: formData,
      success: function(data){
        var body = jQuery('#myModal .modal-body');
        jQuery('.alert', body).remove();
        data = JSON.parse(data);

        if(data.error === 1){
          body.prepend('<div class="alert alert-warning"><strong>Warning! </strong>'+data.message.replace('^name^', '<i>'+name+'</i>')+'</div>');
        }
        else{
          body.prepend('<div class="alert alert-success"><strong>Success! </strong>'+data.message.replace('^name^', '<i>'+name+'</i>')+'</div>');
        }
      }
    });
  });

</script>
