<div class="modal-header">
  <h4 class="modal-title">New task</h4>
</div>
<form id="addTask" class="form-horizontal" role="form" method="post" action="{{'tasks'|route_url(action='ajaxEditTask')}}">
<div class="modal-body">
  {% if task|default('', true) %}
  <input type="hidden" value="{{task.task_id}}">
  <div class="form-group">
      <div class="col-xs-12">
          <label class="control-label col-xs-1" for="creator">Creator:</label>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="creator" name="creator" readonly value="{{task.creator_id}}">
          </div>
      </div>
  </div>
  <div class="form-group">
      <div class="col-xs-12">
          <label class="control-label col-xs-1" for="creation_date">Created at:</label>
          <div class="col-xs-3">
            <input type="date" class="form-control" id="creation_date" name="creation_date" readonly value="{{task.create_date}}">
          </div>
      </div>
  </div>
  {% endif %}
  <div class="form-group">
      <div class="col-xs-12">
          <label class="control-label col-xs-1" for="header">Header:</label>
          <div class="col-xs-3">
              <select class="form-control" id="header" name="header">
                {% for header in headers: %}
                  <option value="{{header.task_headers_id}}">{{header.name}}</option>
                {% endfor %}
              </select>
              {% if task|default('', true) %}
              <script>selectHeader('{{task.header_id}}')</script>
              {% endif %}
          </div>
      </div>
  </div>
  <div class="form-group">
      <div class="col-xs-12">
          <label class="control-label col-xs-1" for="content">Content:</label>
          <div class="col-xs-11">
            <textarea class="form-control" id="content" name="content" rows="15">{{ task|attr('content') if task }}</textarea>
          </div>
      </div>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" href="#" class="btn btn-primary">Create</button>
</div>
</form>
<script>
  function selectHeader(header_id){
    jQuery("#header option[value='"+header_id+"']").prop('selected', true);
  }

  var form = jQuery("#addTask");

  form.submit(function(event){
    event.preventDefault();
    var formData = jQuery(form).serialize();
    jQuery.ajax({
      type: 'POST',
      url: jQuery(form).attr('action'),
      data: formData,
      success: function(data){
        var body = jQuery('#myModal .modal-body');
        jQuery('.alert', body).remove();
        data = JSON.parse(data);

        if(data.error === 1){
          body.prepend('<div class="alert alert-warning"><strong>Warning! </strong>'+data.message.replace('^name^', '<i>'+name+'</i>')+'</div>');
        }
        else{
          var renamed = jQuery('#selectPhase option[value="'+data.phase_id+'"]');
          renamed.text(data.phase_name);
          body.prepend('<div class="alert alert-success"><strong>Success! </strong>'+data.message.replace('^name^', '<i>'+name+'</i>')+'</div>');
        }
      }
    });
  });

</script>
