{% extends "lib/templates/base.jinja2" %}
{% block body %}
<div class="row">
  <ul class="list-inline">
    <li>
      <button class="btn btn-primary" onclick="myModal.open('{{'tasks'|route_url(action='edit')}}', {windowSize: 'fullWidth'})">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Create task
      </a>
    </li>
  </ul>
</div>
<div class="table-responsive">
  {% if tasks|length > 0: %}
  <table id="tasks_list_table" class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>id</th>
        <th>creator</th>
        <th>phase</th>
        <th class="more_space">header</th>
        <th>created at</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    <tr id="task_id_{{task.task_id}}">
      <td class="task_id">{{task.task_id}}</td>
      <td id="creator_id_{{task.creator_id}}"class="creator">{{task.username}}</td>
      <td id="phase_id_{{task.phase_id}}" class="phase">{{task.phase_name}}</td>
      <td class="header">{{task.header}}</td>
      <td class="creation_date">{{task.create_date}}</td>
      <td class="actions">
        <ul class="list-inline">
          <li>
              <a class="btn btn-default" href="#">
              <span class="glyphicon glyphicon-list-alt"></span>
            </a>
          </li>
          <li>
              <a class="btn btn-default" href="{{ 'tasks'|route_url(action='edit', _query={'task_id': task.task_id}) }}">
              <span class="glyphicon glyphicon-edit"></span>
            </a>
          </li>
          <li>
              <a class="btn btn-danger" href="#">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </li>
        </ul>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else: %}
    <span>Nothing has found...<span>
  {% endif %}
</div>
{% endblock %}
