<div class="modal-header">
  <h4 class="modal-title">Your headers</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="form-group">
      <label>select header:</label>
        <select id="selectHeader" class="inline-input form-control" onchange="showHeader()">
          {% for header in headers %}
          <option value="{{header.task_headers_id}}" pattern="{{header.pattern}}">{{header.name}}</option>
          {% endfor %}
        </select>
    </div>
  </div>
  <form id="editHeader" class="form-horizontal" method="post" action="{{'tasks'|route_url(action='ajaxCreateEditHeader')}}">
    <input id="action" name="action" type="hidden"></input>
    <input id="header_id" type="hidden" name="header_id"></input>
    <div class="selected_header row panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title pull-left">Selected header</h3>
          <div class="pull-right">
            <div class="btn-group">
              <button action-method="remove" class="submit_btn btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span>Remove</button>
            </div>
            <div class="btn-group">
              <button action-method="edit" class="submit_btn btn btn-xs btn-info"><span class="glyphicon glyphicon-edit"></span>Edit</button>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
        <div class="form-group header_name">
          <div class="col-xs-12 col-md-6">
            <label class="control-label name_label">name:</label>
            <input type="text" class="form-control name_value" id="name" name="name" required></input>
          </div>
        </div>
        <div class="form-group header_pattern">
          <div class="col-xs-12 col-md-6">
            <label class="control-label pattern_label">pattern:</label>
            <input type="text" class="form-control pattern_value" id="pattern" name="pattern" required></input>
          </div>
        </div>
        <div class="form-group header_phases">
          <div class="col-xs-12 col-md-6">
            <label class="control-label header_label">phases:</label>
            <select class="form-control header_phases" multiple="multiple" name="phases">
              {% for phase in phases %}
              <option value="{{phase.phase_id}}">{{phase.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
</div>
<script>
  jQuery(".submit_btn").click(function(event){
    event.preventDefault();
    edit_submit(jQuery(this).attr('action-method'));
  });

  function getPhases(){
    jQuery(".header_phases option").attr('selected', false);
    var selected = jQuery("#selectHeader");

    jQuery.ajax({
      method: "post",
      url: "{{'tasks'|route_url(action='ajaxGetHeaderPhases')}}",
      data: {'task_headers_id': selected.val()},
      success: function(data){
        data = JSON.parse(data);
        jQuery.each(data.header_phases, function(i, phase_id){
          jQuery(".header_phases option[value='"+phase_id+"']").prop('selected', true);
        });
      }
    });
  }

  function edit_submit(action){
    var edit_form = jQuery("#editHeader");
    var name = jQuery(".name_value").val();
    jQuery("#action").val(action);
    jQuery.ajax({
      type: 'POST',
      url: jQuery(edit_form).attr('action'),
      data: jQuery(edit_form).serialize(),
      success: function(data){
        var body = jQuery('#myModal .modal-body');
        jQuery('.alert', body).remove();
        data = JSON.parse(data);

        if(data.error === 1){
          body.prepend('<div class="alert alert-warning"><strong>Warning! </strong>'+data.message+'</div>');
        }
        else{
          if(data.action == 'remove'){
            jQuery("#selectHeader option[value='"+data.header_id+"']").remove();
            showHeader();
          }
          else if(data.action == 'edit'){
              jQuery(".header_name").val(data.name);
              jQuery(".header_pattern").val(data.pattern);
              getPhases();
          }

          body.prepend('<div class="alert alert-success"><strong>Success! </strong>'+data.message.replace('^name^', '<i>'+name+'</i>')+'</div>');
        }
      }
    })
  }

  function showHeader(){
    selected = jQuery("#selectHeader option:selected");
    getPhases();

    jQuery("#editHeader #header_id").val(selected.val())
    jQuery("#editHeader .header_name .name_value").val(selected.text());
    jQuery("#editHeader .header_pattern .pattern_value").val(selected.attr('pattern'));
  }
  jQuery(document).ready(showHeader());
</script>
