{% extends "lib/templates/base.jinja2" %}
{% block body %}
<div class="row">
  <div class="col-sm-6">
    <div id="tasks_headers_settings" class="panel panel-default">
      <div class="panel-heading">Headers</div>
      <div class="panel-body">
        <button class="btn btn-primary" onclick="myModal.open('{{'tasks'|route_url(action='createEditHeader')}}')">
          <span class="glyphicon glyphicon-plus-sign"></span>
          New
        </button>
        <button class="btn btn-primary" onclick="myModal.open('{{'tasks'|route_url(action='showHeader')}}')">
          <span class="glyphicon glyphicon-eye-open"></span>
          Show and modify
        </button>
      </div>
    </div>
    <div id="tasks_phases_settings" class="panel panel-default">
      <div class="panel-heading">Phases</div>
      <div class="panel-body">
        <button class="btn btn-primary" onclick="myModal.open('{{'tasks'|route_url(action='createEditPhase')}}')">
          <span class="glyphicon glyphicon-plus-sign"></span>
          New
        </button>
        <button class="btn btn-primary" onclick="myModal.open('{{'tasks'|route_url(action='editDeletePhase')}}')">
          <span class="glyphicon glyphicon-eye-open"></span>
          Edit phases
        </button>
      </div>
    </div>
</div>
</div>
{% endblock %}
