{% extends "lib/templates/base.jinja2" %}
{% block body %}
<div class="row flex">
  <div class="col-lg-4 task-col">
    <div class="panel panel-info todo-col">
      <div class="panel-heading">
        <h3 class="panel-title">Todo</h3>
      </div>
      <div class="panel-body">
        <div id="task_1" class="task-panel draggable">task A</div>
        {% for task in tasks %}
        <div id="task_{{task.task_id}}" class="task-panel draggable">{{task.title}}</div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-lg-4 task-col">
    <div class="panel panel-warning during-execution-col">
      <div class="panel-heading">
        <h3 class="panel-title">During executing</h3>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="col-lg-4 task-col">
    <div class="panel panel-success finished-col">
      <div class="panel-heading">
        <h3 class="panel-title">Finished</h3>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
jQuery(".draggable").draggable({
  opacity: 0.7,
  helper: "clone",
  cursor: "crosshair",
  revert: "invalid",
});
jQuery(".task-col").droppable({
  accept: ".task-panel",
  drop: function(event, ui) {
    var dropped_task = ui.draggable;
    var tasks_panel = $(".panel-body", this);
    jQuery(dropped_task)
    .detach()
    .css({top: 0, left: 0})
    .appendTo(tasks_panel);
  }
});
</script>
{% endblock %}
