<!DOCTYPE html>
<html lang="en">
{% include 'headBase.jinja2' %}
<body>
    {% include 'navbar.jinja2' %}
    <div id="wrap-body" class="container">
      <div id="page-content">
        {% block body %} {% endblock %}
      </div>
        {% include 'footer.jinja2' %}
    </div>
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>
</body>
</html>
