<footer>
  <div class="row">
    <div class="col-xs-12">
    <p>Based on <a rel="nofollow" href="http://getbootstrap.com">Bootstrap</a>. Icons from <a rel="nofollow" href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>. Web fonts from <a rel="nofollow" href="http://www.google.com/webfonts">Google</a>.</p>
    </div>
  </div>
</footer>
