<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/default/css-piramidki.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <script src="{{ request.static_url('webapp:static/bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ request.static_url('webapp:static/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ request.static_url('webapp:static/bower_components/react/react.min.js') }}"></script>
    <script src="{{ request.static_url('webapp:static/bower_components/react/react-dom.min.js') }}"></script>
    <script src="{{ request.static_url('webapp:static/default/js/myModal/myModal.js') }}"></script>
</head>
