<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ 'home_index'|route_url() }}"></a>
    </div>
    <div id="navbar-main" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li><a href="{{ 'home_index'|route_url() }}">Home</a></li>
          {% if request.authenticated_userid %}
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Tasks<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="{{ 'tasks'|route_url(action='list') }}">Task list</a></li>
                  <li><a href="{{ 'tasks'|route_url(action='todo') }}">Todo</a></li>
                  <li><a href="{{ 'tasks'|route_url(action='settings') }}">Settings</a></li>
              </ul>
          </li>
          {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if request.authenticated_userid %}
              <li><a href="{{ 'user'|route_url(action='profile') }}"><span class="glyphicon glyphicon-user"></span> {{request.user.username}}</a></li>
              <li><a href="{{ 'user'|route_url(action='logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          {% else %}
              <li><a href="{{ 'user'|route_url(action='register') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="{{ 'user'|route_url(action='login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% endif %}
      </ul>
    </div>
  </div>
</div>
