html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrap-body {
  padding-top: 70px;
}
@media(min-height: 210px){
  #page-content {
    min-height: 200px;
  }
}
div.indent {
    clear: both;
    margin: 50px;
}
div.half-indent {
    clear: both;
    margin: 25px;
}
.float-right {
    float: right !important;
}
.float-left {
    float: left !important;
}























.flex {
    display: flex;
}
.login-form .checkbox-inline{
    padding-top: 0px;
}
.login-form .checkbox-inline input {
    margin-top: 0px;
    padding-left: 25px;
}
.navbar-brand {
  background: url(http://res.cloudinary.com/candidbusiness/image/upload/v1455406304/dispute-bills-chicago.png) center / contain no-repeat;
  width: 200px;
  margin-right: 10px;
}
.navbar { border-radius: 0px; }
.task-col > .panel{
    z-index: 1;
    min-height: 300px;
}
.task-col:nth-child(2) {
    margin: 0 20px;
}
.task-panel {
    z-index: 2;
}
#tasks_list_table .more_space{
  min-width: 50%;
}
td.actions {
  text-align: center;
}
.inline-input{
  width:auto;
  display: inline-block;
}
.modal-body{
  margin: 0 15px;
}
#myModal .fullWidth {
  width: 95%;
}
